.App {
  text-align: center;
}

.create-event-form {
  display: grid;
  margin: auto;
  width: 700px;
  grid-template-columns: 1fr 1fr;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  font-family: monospace;
  font-size: 70px;
  text-align: center;
}

.logo-1{
  color:#3581B8;
}

.logo-2{
  color:#FCB07E;
}

table {
  border-collapse:collapse;
}

.date {
  width: 40px
}

.time-am {
  color:#FCB07E
}

.time-pm {
  color:#3581B8
}
